---
http_interactions:
- request:
    method: get
    uri: https://api-fxpractice.oanda.com/v3/prices?instruments=EUR_USD,EUR_CAD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Accept-Datetime-Format:
      - RFC3339
      Authorization:
      - Bearer <OANDA_TESTING_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"177bb030c2194c2df4c4f7f8d4f99811bdf01a6f"'
    body:
      encoding: UTF-8
      string: "{\n\t\"prices\" : [\n\t\t{\n\t\t\t\"instrument\" : \"EUR_USD\",\n\t\t\t\"time\"
        : \"2016-03-14T23:03:07.128564Z\",\n\t\t\t\"bid\" : 1.11027,\n\t\t\t\"ask\"
        : 1.11045\n\t\t},\n\t\t{\n\t\t\t\"instrument\" : \"EUR_CAD\",\n\t\t\t\"time\"
        : \"2016-03-14T23:03:25.938983Z\",\n\t\t\t\"bid\" : 1.47282,\n\t\t\t\"ask\"
        : 1.47319\n\t\t}\n\t]\n}"
  recorded_at: Mon, 14 Mar 2016 23:03:29 GMT
recorded_with: VCR 2.9.3
